In [2]:
#Boolean

print(100 > 25)
print(len("Hello") == len("World!"))

True
False

In [5]:
num1 = int(input())
num2 = int(input())

if num1 < num2:
    print("first number is less than the second one")
else:
    print("second number is less than the first one")

second number is less than the first one

In [6]:
#Lists, tuples are all true, except the empty ones

a = ('apple', 'banana', 'watermelon')
print(bool(a))
b = ()
print(bool(b))

True
False

In [7]:
#Function

def funcforbool(a,b):
    if a > b:
        return True
    else:
        return False
    
a = 41
b = 122
print(funcforbool(a,b))

False

In [4]:
#Operators

a = int(input())
someoperator = input()
b = int(input())

if someoperator == "+":
    print(a+b)
elif someoperator == "-":
    print(a-b)
elif someoperator == "*":
    print(a**b)
elif someoperator == "/":
    print(a // b)

34

In [8]:
a = 121

a+=200

print(a)

321

In [9]:
#Lists

mylist = ['phone', 'laptop', 'computer', 'TV']

print(mylist)
print(len(mylist))
print(bool(mylist))
print(type(mylist))

['phone', 'laptop', 'computer', 'TV']
4
True
<class 'list'>

In [10]:
anotherlist = ['cola', 'pepsi', 'drpepper', 'soda']
                #0       #1        #2         #3
print(anotherlist[3])    # indexes starts from 0

soda

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-1])     #starts from the end of the list
print(thislist[-3])

print(thislist[2:5])    #starting from the 2nd index and ending at the 5fth one (not included) the last element is not included

mango
kiwi
['cherry', 'orange', 'kiwi']

In [15]:
testlist = ['cat', 'dog', 'monkey']

print(testlist)

testlist.insert(0, 'racoon')  # adding a new element to a specific index

print(testlist)

['cat', 'dog', 'monkey']
['racoon', 'cat', 'dog', 'monkey']

In [16]:
animals = ['elephant', 'racoon', 'cat', 'wolf']
animals.append('dog')   #adding exactly at the end of the list
print(animals)

['elephant', 'racoon', 'cat', 'wolf', 'dog']

In [17]:
animals = ['elephant', 'racoon', 'cat', 'wolf']
people = ['hunters', 'students', 'citizens']

animals.extend(people) # adding another list 

print(animals)

['elephant', 'racoon', 'cat', 'wolf', 'hunters', 'students', 'citizens']

In [18]:
# Removing items 

a = ['DiCaprio', 'DaVinci', 'Arhimed']
a.remove('Arhimed')    # remove exactly the element
a.pop(0)    # remove by the index
print(a)

['DaVinci']

In [24]:
a = ['apple', 'banana', 'watermelon']
del a[1]    # can also use del to delete by index
print(a)


a.clear() # clearing entire list
print(a)

['apple', 'watermelon']
[]

In [25]:
# Loop lists

a = ['cat', 'dog', 'frog', 'monkey']

for i in a:
    print(i)

cat
dog
frog
monkey

In [26]:
a = ['cat', 'dog', 'frog', 'monkey']

for i in range(len(a)):
    print(a[i])

cat
dog
frog
monkey

In [28]:
a = ['cat', 'dog', 'frog', 'monkey']

i = 0

while i < len(a):
    print(a[i])
    i+=1

cat
dog
frog
monkey

In [30]:
a = ['cat', 'dog', 'frog', 'monkey']
[print(i) for i in a]

cat
dog
frog
monkey

[None, None, None, None]

In [32]:
temp = ['car', 'track', 'bike', 'wings']
newlist = []

for i in temp:
    if 'a' in i:
        newlist.append(i)

print(newlist)

['car', 'track']

In [35]:
temp = ['car', 'track', 'bike', 'wings'] 

newlist = [i for i in temp if 'a' in i]       # simplier version

print(newlist)

['car', 'track']

In [37]:
temp = ['car', 'track', 'bike', 'wings'] 

newlist = [i for i in temp if i != "wings"]

print(newlist)

['car', 'track', 'bike']

In [42]:
def createlist():
    listgen = [i for i in range(10)]
    print(listgen)

createlist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
temp = ['car', 'track', 'bike', 'wings'] 

upperlist = [i.upper() for i in temp]

for x in upperlist:
    print(x)

CAR
TRACK
BIKE
WINGS

In [57]:
a = [312, 375, 3, 233, 59, 12, 1, 0, -1, 23, -23, -2, 12]

a.sort()
print(a)

a.sort(reverse = True)
print(a)

a.reverse()
print(a)

def sentence(n):
    return n % 2
a.sort(key = sentence)
print(a)

[-23, -2, -1, 0, 1, 3, 12, 12, 23, 59, 233, 312, 375]
[375, 312, 233, 59, 23, 12, 12, 3, 1, 0, -1, -2, -23]
[-23, -2, -1, 0, 1, 3, 12, 12, 23, 59, 233, 312, 375]
[-2, 0, 12, 12, 312, -23, -1, 1, 3, 23, 59, 233, 375]

In [62]:
a = ['wrong', 'right']
b = a.copy()
print(a)
print(b)

c = a[:]
print(c)

['wrong', 'right']
['wrong', 'right']
['wrong', 'right']

In [63]:
list1 = [23, 31, 53, 1]
list2 = ['carrot', 'cucumber', 'eggplant']
list3 = list1 + list2
print(list3)

[23, 31, 53, 1, 'carrot', 'cucumber', 'eggplant']

In [65]:
# Tuples

sometuple = ('tiger', 'lion', 'eagle')
print(sometuple)
print(len(sometuple))

trueTUPLE = ('apple',)
wrongTUPLE = ('apple')
print(type(trueTUPLE))
print(type(wrongTUPLE))

('tiger', 'lion', 'eagle')
3
<class 'tuple'>
<class 'str'>

In [67]:
anydata = (42, 'apple', True, 213, 23, False, 'dogie')
print(anydata)
print(anydata[2])

(42, 'apple', True, 213, 23, False, 'dogie')
True

In [10]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [11]:
fruits = ("apple", "banana", "cherry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana']
cherry

In [12]:
myset = {1,2,3,3,3,4}
print(myset)

{1, 2, 3, 4}

In [15]:
myset = {True, 1}
print(myset)

newset = {False, 0}
print(newset)

{True}
{False}

In [18]:
fruits = {'apple', 'banana', 'peach'}
print('apple' not  in fruits)
print('banana' in fruits)

False
True

In [20]:
myset = {'yes', 'no', 'idk', 'idc', 'mb)'}
print(myset)
myset.add('YEEAHH')
print(myset)

{'mb)', 'idk', 'idc', 'yes', 'no'}
{'mb)', 'idk', 'idc', 'YEEAHH', 'yes', 'no'}

In [21]:
set1 = {'random', 'words', 'i like'}
set2 = {'another', 'word', 'to', 'add'}

set1.update(set2)
print(set1)

{'word', 'to', 'another', 'words', 'add', 'i like', 'random'}

In [22]:
myset = {1, 321, 23, 'OMG'}
mylist = ['evil', 'scary', 'boo']

myset.update(mylist)
print(myset)

{321, 1, 'evil', 'OMG', 'boo', 'scary', 23}

In [23]:
removeset = {'some', 'random', 'stuff'}
removeset.remove('some')      #it will provide an error if the item doesnt exists
print(removeset)

{'stuff', 'random'}

In [24]:
better = {'better', 'method', 'to', 'remove'}
better.discard('to')
better.discard('error')      # No error will appear
print(better)

{'remove', 'better', 'method'}

In [3]:
# Dictionaries 

newdict = {
    "key1" : "word",
    "key2" : "other word",
    "key3" : 12345
}

print(newdict)
print(newdict["key1"]) 
print(newdict["key2"])
print(newdict["key3"])

{'key1': 'word', 'key2': 'other word', 'key3': 12345}
word
other word
12345

In [6]:
duplicate = {
    "key1" : 321,
    "key2" : 923,
    "key1" : 754
}

print(duplicate["key1"])  
print(len(duplicate))

754
2

In [7]:
longdict = {
    "key1" : "value",
    "key2" : "value2",
    "key3" : [132, "Cat", "Dog", 886] 
}
print(longdict["key3"])

[132, 'Cat', 'Dog', 886]

In [21]:
card = dict(name = "Miroslav", age = 18, country = "Kazakhstan")
print(card)
print(card["age"])

x = card.get('name')
print(x)

y = card.keys()
print(y)

z = card.values()
print(z)

card['age'] = 19
print(z)

g = card.items()
print(g)

card.update({'name' : 'Igor'})
print(g)


card['nationality'] = 'Ukranian'
print(card)

card.pop('name')
print(card)

card.popitem()    #removing last added item
print(card)


# del(card) will delete whole dictionary 

card.clear()
print(card)

{'name': 'Miroslav', 'age': 18, 'country': 'Kazakhstan'}
18
Miroslav
dict_keys(['name', 'age', 'country'])
dict_values(['Miroslav', 18, 'Kazakhstan'])
dict_values(['Miroslav', 19, 'Kazakhstan'])
dict_items([('name', 'Miroslav'), ('age', 19), ('country', 'Kazakhstan')])
dict_items([('name', 'Igor'), ('age', 19), ('country', 'Kazakhstan')])
{'name': 'Igor', 'age': 19, 'country': 'Kazakhstan', 'nationality': 'Ukranian'}
{'age': 19, 'country': 'Kazakhstan', 'nationality': 'Ukranian'}
{'age': 19, 'country': 'Kazakhstan'}
{}

In [25]:
newdict = {
    'number' : 231,
    'word' : 'KBTU',
    'fruits' : ['apple', 'peach', 'banana']
}

for i in newdict:
    print(i)             # for keys

for x in newdict:
    print(newdict[x])

for j in newdict.values():
    print(j)

for a in newdict.keys():
    print(a)

for c, s in newdict.items():
    print(c, s)

number
word
fruits
231
KBTU
['apple', 'peach', 'banana']
231
KBTU
['apple', 'peach', 'banana']
number
word
fruits
number 231
word KBTU
fruits ['apple', 'peach', 'banana']

In [30]:
# Nested dict

WholeFamily = {
    'child1' : {
        'name' : 'Anya',
        'age' : 14
    },
    'child2' : {
        'name' : 'Igor',
        'age' : 11
    },
    'child3' : {
        'name' : 'John',
        'age' : 21
    }
}

print(WholeFamily)

print(WholeFamily['child3'])

print(WholeFamily['child1']['age'])

{'child1': {'name': 'Anya', 'age': 14}, 'child2': {'name': 'Igor', 'age': 11}, 'child3': {'name': 'John', 'age': 21}}
{'name': 'John', 'age': 21}
14

In [32]:
zoo = {
    'lions' : 5,
    'wolves' : 12,
    'foxes' : 4
}

worker1  = {
    'name' : 'John',
    'age' : 23,
    'exp' : '2 years'
}

worker2 = {
    'name' : 'Alex',
    'age' : 31,
    'exp' : '5 years'
}

place = {
    'zoo' : zoo,
    'worker1' : worker1,
    'worker2' : worker2
}

print(place)

for x, obj in place.items():
    print(x)

for y in obj:
    print(y + ':', obj[y])

{'zoo': {'lions': 5, 'wolves': 12, 'foxes': 4}, 'worker1': {'name': 'John', 'age': 23, 'exp': '2 years'}, 'worker2': {'name': 'Alex', 'age': 31, 'exp': '5 years'}}
zoo
worker1
worker2
name: Alex
age: 31
exp: 5 years

In [34]:
# If else

a = 31
b = 122
if a < b:
    print(a, "is less than", b)

31 is less than 122

In [35]:
a = 411
b = 222

if a < b:
    print(a, 'is less than', b)
elif a > b:
    print(a, 'is greater than', b)
else:
    print(a, 'is equal to', b)

411 is greater than 222

In [36]:
a = 33
b = 33

if a == b: print(a, 'is equal to', b)

33 is equal to 33

In [37]:
a = 12
b = 13

print(a) if a > b else print(b)

13

In [38]:
a = 112
b = 112

print('a') if a > b else print('b') if a < b else print('=')

=

In [44]:
a = 312
b = 1
c = 64

if a > b and c < a:
    print("Both true")

if a < b or a > c:
    print('One is true')

if not a < b:
    print('Not true')

Both true
One is true
Not true

In [45]:
num = 32

if num > 10:
    print("More")
    if num > 20:
        print('More')
        if num > 40:
            print('More')
        else:
            print('Not above 40')

More
More
Not above 40

In [47]:
a = 1
b = 2

if a > b:
    pass

print(a)

1

In [49]:
# While loop
a = 1

while a < 11:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

In [50]:
i = 1
while i < 11:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [54]:
i = 0
while i < 10:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

In [55]:
# For loop

cars = ['BMW', 'Mercedes', 'Porsche']
for i in cars:
    print(i)

BMW
Mercedes
Porsche

In [57]:
word = 'Online KBTU is stressful'

for letter in word:
    print(letter)
    if letter == ' ':
        break

O
n
l
i
n
e

In [61]:
for x in range(0, 101, 25):
    print(x)

0
25
50
75
100

In [63]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3